{% extends "base.html" %}

{% block content %}
<div class="container mt-3" style="width: 40%;">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Анкета претендента</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="text-center">на участие в миссии</h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form>
                    <div class="mb-3">
                        <label class="form-label" for="surname">Фамилия</label>
                        <input class="form-control" id="surname" type="text">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="name">Имя</label>
                        <input class="form-control" id="name" type="text">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="e-mail">E-mail</label>
                        <input class="form-control" id="e-mail" type="email">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Образование</label>
                        <select class="form-select">
                            <option selected value="0">Начальное</option>
                            <option value="1">Среднее</option>
                            <option value="2">Бакалавриат</option>
                            <option value="3">Магистратура</option>
                            <option value="4">Аспирантура</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Профессия</label>
                        <div class="form-check">
                            <input class="form-check-input" id="engineer" type="checkbox" value="0">
                            <label class="form-check-label" for="engineer">Инженер</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" id="cosmonaut" type="checkbox" value="0">
                            <label class="form-check-label" for="cosmonaut">Космонавт</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" id="general" type="checkbox" value="0">
                            <label class="form-check-label" for="general">Генерал</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" id="human" type="checkbox" value="0">
                            <label class="form-check-label" for="human">Человек</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Пол</label>
                        <div class="form-check">
                            <input class="form-check-input" id="male" name="gender" type="radio">
                            <label class="form-check-label" for="male">Мужской</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" id="female" name="gender" type="radio">
                            <label class="form-check-label" for="female">Женский</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" id="parket" name="gender" type="radio">
                            <label class="form-check-label" for="parket">Паркет</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="motivation">Мотивация</label>
                        <textarea class="form-control" id="motivation"></textarea>
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" id="ready" type="checkbox" value="0">
                            <label class="form-check-label" for="ready">Готовы ли остаться на Марсе?</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-success" type="submit">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
