{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center">Works log</h2>
        </div>
    </div>
    {% for jobs, user in result %}
    <div class="row">
        <div class="col">
            <h3>Action # {{ jobs.id }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <tr class="table-secondary">
                    <td>Title of activity</td>
                    <td>Team leader</td>
                    <td>Duration</td>
                    <td>List of collaborators</td>
                    <td>Is finished</td>
                </tr>
                <tr>
                    <td class="table-primary">{{ jobs.job }}</td>
                    <td class="table-primary">{{ user.surname }} {{ user.name }}</td>
                    <td class="table-primary">{{ jobs.work_size }} hours</td>
                    <td class="table-primary">{{ jobs.collaborators }}</td>
                    {% if jobs.is_finished %}
                    <td class="table-success">Is finished</td>
                    {% else %}
                    <td class="table-danger">Is not finished</td>
                    {% endif %}
                </tr>
            </table>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}